body {
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

#map {
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
}

#info {
	position: absolute;
	top: 8px;
	right: 8px;
	padding: 20px;
	background: rgba(255,255,255,0.9);
	color: #282828;
	border-radius: 5px;
	width: 220px;
	z-index: 1000;
}

#info h4 {
	margin: 0 0 0;
}

.input-wrapper {
	margin: 0.8em 0;
}

.search {
	display: block;
	background-color: #2b5696;
	color: white;
	border-style: none;
	border-radius: 3px;
	padding: 5px 10px;
	margin-top: 0.8em;
	width: 100%;
}

label{
	display: inline-block;
	width: 110px;
	font-size: 0.9rem;
}
label-big{
	display: inline-block;
	width: 110px;
}

input[type=submit] {
	display: block;
}
select, option {
    width:100px;
}